<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <h1>Login</h1>
        <form method="post">
            <label>
                Username
                <input type="text" name="username" value="{{username}}">
            </label>
            <label>
                Password
                <input type="password" name="password">
            </label>
            <div class="error">{{error}}</div>
            <input type="submit">
        </form>
    </body>
</html>